/*Tablet*/
@media (max-width: 1000px) {
    .about-us {
        max-width: 800px;
        max-height: 315px;
        text-align: center;
    }

    .about-us h1 {
        color:#D81B27;
        font-size: 40px;
        padding-bottom: 25px;
    }

    .about-us p {
        font-size: 21px;
    }

    footer {
        width: 100%;
        background-image: url("the_witcher_3_wild_hunt_manufacture 1.png");
        background-size: cover;
        height: 50px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }

    .socials {
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
    }

    .socials a img {
        width: 50px;
        height: 50px;
    }

    .twitter {
        padding-left: 35px;
        padding-right: 35px;
    }

    .slideshow h3 {
        font-size: 30px;
        line-height: 1.5;
    }

    .slideshow p {
        max-width: 300px;
        font-size: 10px;
    }


    .place img {
        width: 150px;
        height: 210px;
    }

}


/*Mobile*/
@media (max-width: 670px) {  
    .header-right {
        display: none;
    }
    
    .menu-icon { /*di gw menunya masih nggak mau muncul*/
        display: inline-block !important;
        color: black;
        font-size: 35px !important;
        padding: 21px 21px;
    }

    .top-wrapper { /*cara ngecrop imagenya biar sama kayak mockup gimana ya?*/
        padding: 250px 100px;
        background-size: cover;
    }

    .logo { 
        margin: 0 auto;
        display: none;
    }

    .logo img {/*gw nggak bisa bikin dia pas di tengah*/
        width: 150%;
        height: auto;
    }

    .about {
        background-color: #C9C9C9;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .logo-witcher {
        position: static;
        right: 30%;
        margin: 0 auto;
        margin-left: 100px !important;
        float: none;
        width: 100px
    }

    .logo-witcher img { /*ukuran masih salah dan gw nggak ngerti cara benerin*/
        width: 100px;
        height: auto;
        margin: 0 auto;
    }

    .about h1 {
        font-size: 26px;
        text-align: center;
        width: 100%;
        padding-top: 20px;
    }

    .about p {
        font-size: 20px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

<<<<<<< HEAD
    .mySlides h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .mySlides p {
        font-size: 8px;
        width: 200px;
        margin-top: 10px;
    }

    .dots {
        display: none
    }
=======
    .mySlides p {
        margin-top: 20px;
    }

    .about-us{
        padding:50px 15px;
    }

>>>>>>> a0b2fe27e13b5babba370a18c7bd683a36c16b5d
}
