html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

html {
  font-family:'Josefin Sans Light', Courier, monospace;
}

body {
  font-family: "Lucida Grande";
}

html, body {
  padding: 0; 
  margin: 0; 
  height: 100%;
  max-height: 2000px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'thewitchermedium';
  src: url('font/thewitcher-jnoj-webfont.woff2') format('woff2'),
       url('font/thewitcher-jnoj-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefinsans';
  src: url('font/josefin/josefinsanslight-zvell-webfont.woff') format('woff2'),
       url('font/josefin/josefinsanslight-zvell-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Ketik code Anda bawah */
.top-wrapper {
  padding: 230px 0 520px 720px;
  background-image: url(img/image\ 2.png);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  position:absolute;
}

.logo{
  position:relative;
}

.logo img{
  width:450px;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 2555, 0);
  /* Ubah position ke fixed, dan top ke 0 */
  top:0;
  /* Ubah z-index ke 10 */
  z-index:10;
  background-color: #e9e9e9;
}


.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
}

.header-right:hover {
  color: #d81b27;
}

.header-right a {
  line-height: 65px;
  padding: 10px 20px;
  color: black;
  float: right;
  font-family: thewitchermedium;
  font-size: 29px;
}

.jarak{
  padding-right:55px !important;
}

.about{
  padding: 180px 150px ;
  margin: 0 auto;
}

.about h1{
  font-family:thewitchermedium;
  color:#d81b27;
  font-size:56px;
  margin-bottom:30px;
}

.about p{
  font-size:25px;
  width:100%;
  font-family: josefinsans;
}


.logo-witcher{
  float:right;
  position: relative;
  bottom:50px;
  left:40px;
  width:25%;
}

.logo-witcher img{
  width:300px !important;
}

.about-us:hover {
  color:#D81B27;
  padding-top:17px;
}

.world:hover {
  color:#D81B27;
  padding-top:17px;
}

.char:hover {
  color:#D81B27;
  padding-top:17px;
}

.home:hover {
  color:#D81B27;
  padding-top:17px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

.active {
    display: inline-block
}

.mySlides img {
  width: 100%;
  height: 100%;
}

.mySlides h3 {
  font-family: thewitchermedium;
  position: absolute;
  top: 20%;
  left: 13%;
  color: #E6E6E6;
  font-size: 56px;
}

.mySlides p {
  font-family: josefinsans;
  position: absolute;
  top: 30%;
  left: 13%;
  color: #E6E6E6;
  font-size: 16px;
  max-width: 400px;
  line-height: 1.5;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.dots .active, .dot:hover {
    background-color: #717171;
}

.dots {
    text-align:center;
    position: absolute;
    bottom: 10%;
    left: 50%;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.world-wrapper {
  background-image: url(img/wallpaperflare\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px
}

.world-container {
  width: 1080px;
  margin: auto;
}

.place {
  font-family: thewitchermedium;
  color: #F9F9F9;
  display: inline-block;
  text-align: center;
  margin: 150px 50px;
}

.place img {
  height: 350px;
  width: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.container {
  width: 100%;
}

.witcher-symbol {
  display: none;
}

.about {

  text-align: center;
  margin: 298px auto;
}

.about h1 {
  font-family: thewitchermedium;
  color:#D81B27;
  font-size: 50px;
  height: 70px;
  padding-bottom: 38px;
}

.about p {
  font-size: 28px;
}

footer {
  width: 100%;
  height: 100px;
  background-image: url("img/landscape1.jpg");
  background-size: 100%;
}

.socials {
  text-align: center;
}

.socials img {
  height: 100px;
  width: 100px;
}

.twitter {
  padding-left: 35px;
  padding-right: 35px;
}